/* CSS file */
global {
	color:					#000000;
	font-family:			"Calibri";
	highlightAlphas:		0.4, 0.3;
	theme-color:			#444444;
}

WindowedApplication {
	backgroundColor:		#333333;
	background-gradient-alphas:1,1;
	status-bar-background-color:#333333;
	status-bar-separator-alpha:0;
}

Button {
	paddingLeft:			4;
	paddingRight:			2;
	font-weight:			normal;
	font-size:				13;
}

Canvas {
	corner-radius:			6;
}

Grid {
	horizontalGap:			0;
	verticalGap:			0;
}

GridItem {
	horizontalGap:			0;
}

Panel {
	backgroundColor:		#333333;
	backgroundAlpha:		1;
	borderColor:			#333333;
	borderAlpha:			1;
	highlightAlphas:		0.4, 0.3;
	roundedBottomCorners:	true;
	cornerRadius:			6;
	headerColors:			#333333, #333333;
	headerHeight:			24;
	shadow-distance:		1;
	titleStyleName:			"windowTitle";
}

TileList {
	backgroundColor:		#FFFFFF;
	backgroundAlpha:		0.25;
	border-style:			none;
}

TitleWindow {
	backgroundColor:		#333333;
	backgroundAlpha:		1;
	borderColor:			#333333;
	borderAlpha:			1;
}

ToolTip {
	font-size:				12;
}

.colorLabel {
	font-size:				13;
	color:					#FFFFFF;
}

.hexLabel {
	padding-left:			0;
	padding-right:			0;
	font-size:				14;
	color:					#FFFFFF;
}

.dropStyle {
	font-size:				10;
	corner-radius:			5;
	rounded-bottom-corners:	true;
}

.mask {
	background-color:		#006600;
	border-style:			solid;
}

.roundedCanvas {
	border-style:			solid;
	border-thickness:		0;
	corner-radius:			7;
}

.singlePreview {
	background-color:		#333333;
}

.windowTitle {
	color:					#FFFFFF;
	font-size:				15;
	font-weight:			normal;
}

@font-face{
	src:						url(Calibri.swf);
	fontFamily:					"Calibri";
}

@font-face{
	src:						url(Calibri.swf);
	fontFamily:					"Calibri";
	fontWeight:					bold;
}

@font-face{
	src:						url(Calibri.swf);
	fontFamily:					"Calibri";
	fontStyle:					italic;
}

@font-face{
	src:						url(Calibri.swf);
	fontFamily:					"Calibri";
	fontWeight:					bold;
	fontStyle:					italic;
}